#header {
    background-color: #66CCFF;
    text-align: center;
}

#container {
    background-color: royalblue;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#image {
    text-align: center;
    display: block;
    padding-bottom: 50px;
    padding-top: 20px;
}

body {
    background-color: royalblue;
}

#footer {
    text-align: center;
}